  <div class="container-fluid mt-5">
    <h3><u>Todays Tasks </u></h3><br />
  <div class="row">
  <% @todays.each do |todo_list_today| %>
 
        
    <section class="col-lg-4 col-md-6 py-3">
       <div class="card border-info text-center mb-3" style="height:15rem;">
        
        <div class="card-header">
          <h5 class="card-title"><%= todo_list_today.title %></h5>
          <h5 class="card-title"><%=todo_list_today.date %></h5>
        </div>
        
        <div class="card-body" style="overflow-y: auto;">
        <p class="card-text" style="overflow-y: auto;"><%= todo_list_today.description %></p>
        </div>
        
        <div class="card-footer text-muted">
        <%= link_to 'Show',todo_list_today,class:"btn btn-secondary" %>
        <%#= link_to 'Edit', edit_todo_list_today_path(todo_list),class:"btn btn-secondary"%>
        <%= link_to 'Destroy', todo_list_today, method: :delete,class:" btn btn-secondary",data: { confirm: 'Are you sure?' } %>
      </div>

      </div>
      </section>
            
    <% end %>
  </div>
