<!-- <p id="notice"><%#= notice %></p> -->
<!-- <h3>Todo Lists</h3 -->
<%#= render 'shared/todolistindex' %>



<div class="row">
  <div class="col-3">
    <nav class ="navbar bg-light" style="margin-right: 0;">
      <ul class ="nav navbar-nav">
        <li class ="nav-item mt-1">
        <%=link_to Current.user.email,edit_password_path,class:"nav-link" %>
        </li>

        <li class ="nav-item mt-5">
        <%= link_to 'New ToDo',new_todo_list_path,class:"nav-link" %>
        </li>

        <li class ="nav-item mt-2">
        <%= link_to 'ToDoS',todo_lists_path,class:"nav-link" %>
        </li>

        <li class ="nav-item mt-2">
        <%= link_to 'Todays', todays_list_path,class:"nav-link"  %>
        </li>

        <li class ="nav-item mt-2">
        <%= link_to 'Upcomings', upcoming_list_path,class:"nav-link"  %>
        </li>

        <li class ="nav-item mt-3">
        <%= link_to 'LOGOUT',logout_path,method: :delete,class:"nav-link" %>
        </li>
      </nav>
</div>
  <div class="col-9">
    <div class="container-fluid ml-5 mt-5" >
    <div class="row">
     

      <% @todo_lists.each do |todo_list| %>
          
      <section class="col-lg-6 mb-4">
         <div class="card border-info text-center mb-3" style="height:15rem;">
          
          <div class="card-header">
            <h5 class="card-title"><%= todo_list.title %></h5>
            <h5 class="card-title"><%= todo_list.Date %></h5>
          </div>
          
          <div class="card-body" style="overflow-y: auto;">
          <p class="card-text" style="overflow-y: auto;"><%= todo_list.description %></p>
          </div>
          
          <div class="card-footer text-muted">
          <%= link_to 'Show',todo_list,class:"btn btn-secondary" %>
          <%= link_to 'Edit', edit_todo_list_path(todo_list),class:"btn btn-secondary"%>
          <%= link_to 'Destroy', todo_list, method: :delete,class:" btn btn-secondary",data: { confirm: 'Are you sure?' } %>
        </div>

      </div>
      </section>
            
    <% end %>
</div>
</div>


    









 
