<div class="container-fluid mt-3">
<h3>Sign Up</h3>
<%=form_for(@user, url: sign_up_path) do |form|%>

	<% if @user.errors.any? %> 
		<div class="alert alert-danger">
			<% @user.errors.full_messages.each do |message|%>
				<h2><%= message %></h2>
			<% end %>
		</div>
	<% end %>

	<div class="mb-3 mt-3">
		<%= form.label:email  %>
		<%= form.text_field:email,class:"form-control",
		placeholder:"example@example.com" %>
	</div>

	<div class="mb-3">
		<%= form.label:password  %>
		<%= form.password_field:password,class:"form-control",
		placeholder:"password" %>
	</div>


	<div class="mb-3">
		<%= form.label:password_confirmation  %>
		<%= form.password_field:password_confirmation,class:"form-control",placeholder:"password" %>
	</div>

	<div class="mb-3 mt-4">
		<%= form.submit class:"btn btn-dark" %>
	</div>

	</div>

<% end %>