
<div class="container mt-5 mr-4">
  <h3><u>Upcoming Tasks </u></h3><br />
  <div class="row">
    
  <% @upcomings.each do |upcoming_list| %>
  
        
    <section class="col-lg-4 col-md-6 py-3">
       <div class="card border-info text-center mb-3" style="height:15rem;">
        
        <div class="card-header">
          <h5 class="card-title"><%= upcoming_list.title %></h5>
          <h5 class="card-title"><%=upcoming_list.Date %></h5>
        </div>
        
        <div class="card-body" style="overflow-y: auto;">
        <p class="card-text" style="overflow-y: auto;"><%= upcoming_list.description %></p>
        </div>
        
        <div class="card-footer text-muted">
        <%= link_to 'Show',upcoming_list,class:"btn btn-secondary" %>
        <%#= link_to 'Edit', edit_upcoming_list_today_path(todo_list),class:"btn btn-secondary"%>
        <%= link_to 'Destroy', upcoming_list, method: :delete,class:" btn btn-secondary",data: { confirm: 'Are you sure?' } %>
      </div>

      </div>
      </section>
            
    <% end %>
  </div>
</div>

